body {
    background-color: #c2bfe5;

}

.name {
    font-family: 'Bodoni Moda', serif;

}



.others {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.type {
    font-family: 'Plus Jakarta Sans', sans-serif;
}



.type {
    margin-left: 2.5rem;
}

.details {
    display: flex;
    justify-content: flex-start;
    /* Move os elementos para a esquerda */
    align-items: center;
    /* Centraliza verticalmente */
    height: 200px;
    /* Altura do container */
}

.pokemon-name {
    position: absolute;
    top: 550px;
    /* Defina a posição vertical desejada */
    left: 100px;
    /* Defina a posição horizontal desejada */
}

.content span {
    margin-right: 50px;
    /* Adiciona margem à direita de cada elemento */

}

.content {
    position: absolute;
    top: 750px;
    /* Defina a posição vertical desejada */
}

.img img {
    z-index: 1;
    position: absolute;
    top: 200px;
    /* Defina a posição vertical desejada */
    left: 20px;
    /* Defina a posição horizontal desejada */
    width: 350px;
    height: 350px;
    filter: saturate(150%);
    /* Aumenta a saturação */

}


.circle {
    /* Define o background como uma cor de preenchimento (neste caso, azul) */
    background-color: #ffffff;
    opacity: 0.5;
    /* Define o tamanho do quadrado (200px x 200px) */
    width: 350px;
    height: 350px;
    /* Define a posição do quadrado no centro do elemento body */
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    /* Defina a posição vertical desejada */
    left: 20px;
    /* Defina a posição horizontal desejada */
    /* Define uma ordem de empilhamento superior (um valor maior) para aparecer na frente */
    z-index: -1;
}


.pokemon-name .number {
    margin-left: 4rem;
    font-family: 'Bodoni Moda', serif;
    background-color: rgba(0, 0, 0, 0.183);
    /* Define a cor de fundo com transparência */
    padding: 0.2rem 0.8rem 0.2rem 0.5rem;
    /* Define o preenchimento interno para criar o quadrado */
    border-radius: 15px 15px;
    /* Define cantos arredondados para o quadrado */
    display: inline-block;
    /* Para criar o quadrado em torno do texto */
}