* {
    padding: 0;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    background-color: #e8e3e7;
}

.border-overlay {
    align-content: center;
}


.background {
    background-color: #c2bfe5;
    width: 100%;
    border-radius: 40px;
    margin-bottom: 20px;
}





.name {
    font-family: 'Bodoni Moda', serif;
    font-size: 60px;

}


.type {
    font-family: 'Encode Sans', sans-serif;
}



.types span {
    display: block;
    /* Define os elementos como blocos */
    left: 50px;
    /* Outras propriedades de estilo, se necessário */
}




.pokemon-name {
    position: relative;
    top: -150px;
    left: 133px;
    max-width: 50%;
    max-height: 50%;
    /* Defina um valor adequado para o tamanho máximo */
    align-items: center;
}



.img img {
    max-width: 90%;
    max-height: 100%;
    filter: saturate(150%);
    height: auto;
    position: relative;
    /* Defina a posição como relativa para usar top e right */
    top: -150px;
    left: 40px;
    /* Mova a imagem para cima */

}


.circle {
    background-color: #ffffff;
    opacity: 0.5;
    width: 500px;
    height: 500px;
    margin: 30px;
    border-radius: 50%;
    position: relative;
    top: 200px;
}


.pokemon-name .number {
    margin-left: 130px;
    font-family: 'Bodoni Moda', serif;
    background-color: rgba(0, 0, 0, 0.183);
    padding: 0.2rem 0.8rem 0.2rem 0.5rem;
    border-radius: 15px 15px;
    display: inline-block;
    font-size: 23px;
}

.detail {
    display: flex;
    /* Torna o conteúdo filho flexível */
    flex-direction: column;
    /* Empilha os elementos verticalmente */
    align-items: center;
    /* Centraliza os elementos horizontalmente */
    font-size: 17px;
}

.types {
    list-style: none;
    /* Remove marcadores de lista */
    padding: 0;
    /* Remove o preenchimento padrão da lista */
}

.type {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* Adicione qualquer estilo de fonte ou tamanho desejado */
    margin: 5px 0;
    /* Espaçamento vertical entre as palavras */
}




.container {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
    /* Transição suave para o contêiner */
}

.page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    width: 100%;
    flex-shrink: 0;
    /* Transição suave para cada página */
}


.page.hidden {
    transform: translateX(100%);
    /* Esconda as páginas que não estão na visualização */
    transition: transform 0.5s ease;
    /* Adicione a transição apenas a páginas ocultas */
}

.border-overlay {

    width: 35vh;
    padding: 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80vh;
    margin-bottom: 0px;
    max-width: 91%;
    align-items: center;
    border: 30px solid transparent;
    border-radius: 40px;
    background-size: 90% 90%;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7), 5px 5px 10px rgba(128, 128, 128, 0.7);
}



li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Encode Sans', sans-serif;
}


a:hover {
    color: #e8e3e7;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Isso alinhará os elementos à esquerda e à direita */
    left: 50px;
    top: -90px;
}

header div {
    margin-right: 50px;
    /* Ajuste a margem desejada entre as palavras */
}

.action_btn {
    color: #000000;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.overview-bar .toggle_btn {
    color: #e8e3e7;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.action_btn:hover {
    scale: 1.5rem;
    color: #e8e3e7;
}


.overview-content {
    position: absolute;
    background-color: #e8e3e7;
    border-radius: 10%;
    top: -420px;
    padding: 2rem;
    right: 65px;
    left: -35px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu {
    display: none;
    position: absolute;
    background-color: #e8e3e7;
    opacity: 0;
    height: 0;
    border-radius: 10%;
    top: -506px;
    padding: 2rem;
    right: 20px;
    left: -35px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu ul {
    padding: 0.7rem;
}

.dropdown_menu.open {
    height: 430px;
    opacity: 1;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media(max-width: 1978px) {
    .overview-bar .overview-content {
        display: none;
    }

    .overview-bar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

/*stats bottom */

.action_btns {
    color: #000000;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.stats .toggle_btns {
    color: #e8e3e7;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.action_btns:hover {
    scale: 1.5rem;
    color: #e8e3e7;
}


.stats-content {
    position: absolute;
    background-color: #e8e3e7;
    border-radius: 10%;
    top: -420px;
    padding: 2rem;
    right: 65px;
    left: -35px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menus {
    display: none;
    position: absolute;
    background-color: #e8e3e7;
    opacity: 0;
    height: 0;
    border-radius: 10%;
    top: -506px;
    padding: 2rem;
    right: 20px;
    left: -35px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menus ul {
    padding: 0.7rem;
}

.dropdown_menus.open {
    height: 430px;
    opacity: 1;
}

.dropdown_menus .action_btns {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*responsive design*/
@media(max-width: 1978px) {
    .stats .stats-content {
        display: none;
    }

    .stats .toggle_btns {
        display: block;
    }

    .dropdown_menus {
        display: block;
    }
}

/* habilities bottom */

.action_btnh {
    color: #000000;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.habilities .toggle_btnh {
    color: #e8e3e7;
    cursor: pointer;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.action_btnh:hover {
    scale: 1.5rem;
    color: #e8e3e7;
}


.habilities-content {
    position: absolute;
    background-color: #e8e3e7;
    border-radius: 10%;
    top: -420px;
    padding: 2rem;
    right: 65px;
    left: -35px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menuh {
    display: none;
    position: absolute;
    background-color: #e8e3e7;
    opacity: 0;
    height: 0;
    border-radius: 10%;
    top: -506px;
    padding: 2rem;
    right: 20px;
    left: -35px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menuh ul {
    padding: 0.7rem;
}

.dropdown_menuh.open {
    height: 430px;
    opacity: 1;
}

.dropdown_menuh .action_btnh {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*responsive design*/
@media(max-width: 1978px) {
    .habilities .habilities-content {
        display: none;
    }

    .habilities .toggle_btnh {
        display: block;
    }

    .dropdown_menuh {
        display: block;
    }
}