* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #49D0B0;
    border-radius: 1rem;

}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: white;
    margin-bottom: 0.25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61E1CA;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}